.logo {
    width: 300px;
}

.header{
    text-align: center;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
  }
  
tr:nth-child(even) {
    background-color: #dddddd;
  }

  .button {
    position: relative;
    width: 200px;
    height: 70px;
    background-color: #04AA6D;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    top: 50%;
    left: 40%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    transition-duration: 0.4s;
  }

  .button:hover {
    opacity: 50%;
  }
  .container { 
    height: 140px;
    position: relative;
  }
